<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/db_sistema?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <mapping resource="obj/Fornecedor.hbm.xml"/>
    <mapping resource="obj/Funcionario.hbm.xml"/>
    <mapping resource="obj/Pessoaloja.hbm.xml"/>
    <mapping resource="obj/Loja.hbm.xml"/>
    <mapping resource="obj/Pessoa.hbm.xml"/>
    <mapping resource="obj/Cliente.hbm.xml"/>
    <mapping resource="obj/Produto.hbm.xml"/>
    <mapping resource="obj/Usuario.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
